.taskList {
    padding: 10px;
    margin: 5px auto;
    background-color: rgb(255, 255, 255);
}

.taskList__header {
    padding: 10px;
    margin: 5px auto;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
}

.taskList__item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
}